@model IEnumerable<Actividades.Models.periodo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_corto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre_largo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_corto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_largo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idperiodo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idperiodo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idperiodo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
